.input-dropdown {
    background: #ad9589 !important;
    border: none;
    color: #643025!important;
    border:1px solid #ad9589!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
