.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.wltBtn .wallet-adapter-button-trigger {
  background-color: #846359;
}

.wltBtn .wallet-adapter-button {
  align-items: center;
  background-color: initial;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: DM Sans,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #846359;
  height: 35px;
  line-height: 35px;
  justify-content: center;
  padding: 0 0px;
  width: 100%;
}
header .headbtn.wltBtn .wallet-adapter-button {
  padding: 0 24px; 
  border-radius: 0.25rem;
 
}
.headbtn.wltBtn .wallet-adapter-button {
  border-radius: 0.25;
  padding: 0.5em 1em;
}
.wallet-adapter-dropdown {
  display: block!important;
}
.referral_earn .headbtn.wltBtn .wallet-adapter-button {
  border-radius: 10px;
  padding: 0.5em 1em;
}
.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  z-index: 1111;
}
.wltBtn .wallet-adapter-button:not([disabled]):hover {
  background-color: #653025;
}
.modelBtn .wallet-adapter-button{
  padding-left: 0;
  justify-content: center;
}

.modelBtn .wallet-adapter-dropdown{
  width: 100%;
}
.wallet-adapter-dropdown {
  position: relative;
  display: block;
}
.modal-open,.modal {
  padding-right: 0px!important;
}

.norefInfo{
  pointer-events: none;
}


/* Css by AJ */
.promotnalText a{
  color: #846359;
  text-decoration: none;
  font-weight: 500;
}
.promotnalText a:hover{
  font-weight: 500;
  color: #643025;
}


.how_to_buy{

}